:root {
  --white-color: #fff;
  --back-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}

html {
  /* <==== HACK ====> */
  /* Ex: 1rem = 10px; 1.2rem = 12px; 1.8rem = 18px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* <==== Responsive ====> */
.grid {
  width: 1700px;
  /* Với những màn hình nhỏ hơn 1200px thì max-width sẽ làm cho chiều dài phụ hợp với màn hình */
  max-width: 100%;
  /* Căn giữa */
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* <==== Animation ====> */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* <===== Modal =====> */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  position: relative;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4) inset;
  z-index: 1;
}

.modal__inner {
}

/* ==== Authen form ==== */
.auth-form {
  position: relative;
}

.auth-form__header {
  text-align: center;
  border-bottom: 2px solid #000;
  margin: 0 74px;
}

.auth-form--logo {
  font-size: 105px;
}

.auth-form__heading {
  font-size: 26px;
}

.auth-form--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 42px;
  margin: 8px;
}

.auth-form--close:hover {
  opacity: 0.3;
  cursor: pointer;
}

.auth-form__container {
  padding: 32px;
}

.auth-form__form {
}

.auth-form__group {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0;
  position: relative;
}

.auth-form__group:first-child {
  margin-top: 32px;
}

.auth-form__input {
  padding: 24px;
  height: 48px;
  font-size: 1.8rem;
  border: 1px solid #000;
  border-radius: 25px;
  transition: 0.25s ease-in;
  /* z-index: 1; */
}

.auth-form__input:focus {
  outline: none;
  /* outline: auto; */
  /* border: 1px solid #00fffff6; */
  border-color: #0051fff6;
  box-shadow: 0 0 4px rgba(0, 81, 255, 0.8);
}

.auth-form__input:not(:placeholder-shown) + .auth-form__label,
.auth-form__input:focus + .auth-form__label {
  top: 8px;
  color: #0051fff6;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  border-radius: 25px;
  /* box-shadow: 0 0 8px rgb(232, 240, 254, 0.4); */
}

.auth-form__label {
  position: absolute;
  top: 42%;
  left: 32px;
  font-size: 1.4rem;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: 0.25s ease-in;
}

.auth-form__policy {
  display: flex;
  justify-content: center;
}

.auth-form__desc {
  position: relative;
  font-size: 1.4rem;
}

.nav--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #999;
  height: 20px;
  right: 36%;
  top: 50%;
  transform: translateY(-50%);
}

.auth-form__switch-btn {
  padding-left: 8px;
  font-weight: 400;
}

.auth-form__aside {
}

.auth-form__aside-list {
  border-bottom: 2px solid #000;
  margin: 0 64px;
  padding-top: 8px;
  padding-bottom: 16px;
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
}

.auth-form__aside-item {
  display: inline-block;
  padding: 0 4px;
}

.auth-form__aside-link {
  color: #0011fa;
  text-decoration: none;
}

.auth-form__aside-link:hover {
  color: #0011fa;
  text-decoration: underline;
}

.back-color {
  color: #000;
}

.auth-form__aside-link .btn,
.btn--primary {
  border: none;
  height: 50px;
  width: 100%;
  font-size: 1.8rem;
}

.btn--primary {
  color: #fff;
  border-radius: 25px;
  background-color: #000;
}

.btn--primary:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.auth-form__socials {
  padding-bottom: 32px;
  text-align: center;
  font-size: 24px;
}

.btn--width-icon {
  text-decoration: none;
}
