:root {
  --white-color: #fff;
  --back-color: #000;
  --text-color: #555;
  --border-color: #858383;
  --backgruond-color: #f3f3f3;
  --blue-color: #0011fa;

  /* Tự động tăng giảm kích thước khi chỉnh chìu cao */
  --header-height: 150px;
  --navbar-height: 38px;
  --header-search-height: calc(var(--header-height) - var(--navbar-height));
}

/* Custom Scrollbar (Thanh cuộn kéo) */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.btn--no-hover {
  cursor: default !important;
  color: var(--white-color);
}

.text-link {
  color: var(--blue-color);
  text-decoration: none;
}

.text-link:hover {
  color: var(--blue-color);
  text-decoration: underline;
}

/* back sau text nên nó mạnh hơn */
.back-color {
  color: var(--back-color);
}

.outline-input:focus {
  outline: none;
  border-color: #0051fff6;
  box-shadow: 0 0 4px rgba(0, 81, 255, 0.8);
}

* {
  box-sizing: inherit;
}

html {
  /* <==== HACK ====> */
  /* Ex: 1rem = 10px; 1.2rem = 12px; 1.8rem = 18px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* <==== Responsive ====> */
.grid {
  width: 1700px;
  /* Với những màn hình nhỏ hơn 1700px thì max-width sẽ làm cho chiều dài phụ hợp với màn hình */
  max-width: 100%;
  /* Căn giữa */
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid__column-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3334%;
}

/* <==== Animation ====> */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    opacity: 0;
    transform: scale(var(--growth-from));
  }

  to {
    opacity: 1;
    transform: scale(var(--growth-to));
  }
}

/* <===== Modal =====> */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn ease-in 0.2s;
}

.modal__body {
  --growth-from: 0;
  --growth-to: 1;
  position: relative;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4) inset;
  z-index: 1;
  animation: growth linear 0.4s;
}

.modal__inner {
}

/* ==== Authen form ==== */
.btn {
  border: none;
  height: 24px;
  font-size: 1.8rem;
  border-radius: 25px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
